#word{
	font-size: 8vw;
	position: relative;
	margin: 10px;
	padding: 1em;
	width: 80%; /* ボックス幅 */
	height:100px;
	background: #006633; /* ボックス背景色 */
	color: #fff; /* 文章色 */
	border: 8px solid #b2771f; /* 枠線 */
	border-radius: 3px; /* 角の丸み */
	box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
	text-align:center;
}
.rb{
	font-size: 3vw;
}

.button {
	font-size: 5vw;
}
input.button{
	background:#f44;
 	margin-top: 3px;
	border-bottom: 2px solid #9f000c;
	border-radius: 100vh;
}
.setting {
	font-size: 5vw;
}
#form1{
	text-align: center;
	font-size: 3.1vw;
}
.nbutton{
	font-size: 50px;
	border-radius: 50%;
	line-height: 100px;
	width: 30%;
	height: 100px;
	padding: 0;
	background:#df7;	
}
.tex{
	font-size: 3.1vw;
}
